In [1]:
import pandas as pd

In [11]:
co = pd.read_csv("covid_province.csv", encoding='utf-8')
co

,จังหวัด,รวม,น้อยกว่า 1 ปี,1 ปี,2 ปี,3 ปี,4 ปี,5 ปี,6 ปี,7 ปี,...,96 ปี,97 ปี,98 ปี,99 ปี,100 ปี,101 และมากกว่า,ไม่ทราบ/ระบุปีจันทรคติ,ประชากรในทะเบียนบ้านกลาง,ประชากรที่มิใช่สัญชาติไทย,ประชากรอยู่ระหว่างการย้าย
0,กรุงเทพมหานคร,5588222,34808,39431,41803,44389,45504,47745,50717,51678,...,1481,1226,962,815,693,2203,1,98625,48981,3922
1,สมุทรปราการ,1351479,11150,12175,12765,13390,13719,14123,14971,14902,...,248,217,164,130,113,438,1,19764,4685,691
2,นนทบุรี,1276745,9180,10137,10566,11212,11419,11816,12237,12639,...,300,222,170,148,100,381,2,16702,4974,599
3,ปทุมธานี,1176412,9664,10561,11151,12160,11978,12444,12891,12985,...,161,105,114,60,73,231,1,10547,4115,592
4,พระนครศรีอยุธยา,819088,6714,7209,7536,7784,7699,8065,8675,8800,...,231,191,149,116,76,256,0,2352,1532,275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,ตรัง,640574,5410,6163,6451,6777,6936,7426,7979,8162,...,182,121,108,63,67,159,0,1624,864,287
73,พัทลุง,523077,4266,4772,5122,5319,5284,5876,6198,6349,...,157,151,121,83,66,143,0,797,247,186
74,ปัตตานี,726015,11404,11606,12094,12552,12235,12344,12579,13187,...,149,173,121,168,300,431,0,2175,1097,344
75,ยะลา,538602,8138,8650,8765,8801,8802,9089,9316,9731,...,126,114,110,109,212,471,0,2429,1234,356
76,นราธิวาส,804429,11878,12066,12658,13037,12717,13022,13629,13994,...,170,143,104,273,193,511,1,2501,979,334

In [16]:
start = input("ปีที่เริ่ม : ")
end = input("ปีสิ้นสุด : ")
cols = ['จังหวัด']
for i in range(int(start), int(end)+1):
    cols.append(str(i)+' ปี')

covid = pd.read_csv("covid_province.csv", encoding='utf-8', usecols=cols)
covid

            จังหวัด   1 ปี   2 ปี   3 ปี   4 ปี   5 ปี   6 ปี
0     กรุงเทพมหานคร  39431  41803  44389  45504  47745  50717
1       สมุทรปราการ  12175  12765  13390  13719  14123  14971
2           นนทบุรี  10137  10566  11212  11419  11816  12237
3          ปทุมธานี  10561  11151  12160  11978  12444  12891
4   พระนครศรีอยุธยา   7209   7536   7784   7699   8065   8675
..              ...    ...    ...    ...    ...    ...    ...
72             ตรัง   6163   6451   6777   6936   7426   7979
73           พัทลุง   4772   5122   5319   5284   5876   6198
74          ปัตตานี  11606  12094  12552  12235  12344  12579
75             ยะลา   8650   8765   8801   8802   9089   9316
76         นราธิวาส  12066  12658  13037  12717  13022  13629

[77 rows x 7 columns]

In [14]:
co.describe()

,รวม,น้อยกว่า 1 ปี,1 ปี,2 ปี,3 ปี,4 ปี,5 ปี,6 ปี,7 ปี,8 ปี,...,96 ปี,97 ปี,98 ปี,99 ปี,100 ปี,101 และมากกว่า,ไม่ทราบ/ระบุปีจันทรคติ,ประชากรในทะเบียนบ้านกลาง,ประชากรที่มิใช่สัญชาติไทย,ประชากรอยู่ระหว่างการย้าย
count,7.700000e+01,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,...,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,8.595679e+05,7026.272727,7636.636364,8084.649351,8523.987013,8617.662338,8950.948052,9472.545455,9681.870130,10367.454545,...,169.896104,137.402597,107.779221,90.948052,78.675325,216.961039,0.610390,5114.896104,9829.961039,369.636364
std,7.256862e+05,5167.127596,5730.742939,6069.846081,6411.034424,6547.160167,6826.598014,7235.846651,7359.172482,7932.412694,...,182.617128,151.040362,119.038320,99.712864,90.470909,272.029093,1.309438,11992.470862,27065.986699,479.190763
min,1.920520e+05,1202.000000,1325.000000,1405.000000,1524.000000,1484.000000,1593.000000,1733.000000,1685.000000,1876.000000,...,38.000000,27.000000,16.000000,14.000000,11.000000,18.000000,0.000000,289.000000,247.000000,40.000000
25%,4.767270e+05,3723.000000,4016.000000,4318.000000,4527.000000,4617.000000,4874.000000,5240.000000,5506.000000,5848.000000,...,82.000000,59.000000,43.000000,39.000000,29.000000,75.000000,0.000000,1153.000000,945.000000,152.000000
50%,6.702650e+05,5476.000000,6116.000000,6400.000000,6683.000000,6936.000000,7205.000000,7951.000000,8075.000000,8626.000000,...,126.000000,100.000000,88.000000,70.000000,54.000000,144.000000,0.000000,2119.000000,1800.000000,246.000000
75%,1.067726e+06,9220.000000,10257.000000,10939.000000,11570.000000,11927.000000,12091.000000,12579.000000,12985.000000,13564.000000,...,199.000000,171.000000,126.000000,109.000000,90.000000,260.000000,1.000000,4684.000000,4115.000000,402.000000
max,5.588222e+06,34808.000000,39431.000000,41803.000000,44389.000000,45504.000000,47745.000000,50717.000000,51678.000000,56326.000000,...,1481.000000,1226.000000,962.000000,815.000000,693.000000,2203.000000,7.000000,98625.000000,145402.000000,3922.000000